ion-content{
    --ion-background-color:#002054;
}

ion-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sync-container {
    height: 100%;
    font-family: 'Raleway', sans-serif!important;

    p {
        color:white;
        font-weight: 500;
    }

    ion-label{
        color:white;
    }
}
