.main{
    -webkit-box-shadow: 0px 0px 15px -4px rgb(0 0 0 / 16%);
    box-shadow: 0px 0px 15px -4px rgb(0 0 0 / 15%);
    margin: 5px 10px;
    border-radius: 7px;
    border: 0px;
}

.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
