ion-content {
    --background: #f9f9f9;
}

h1 {
    font-family: "Raleway", sans-serif !important;
    color: #002054;
    font-size: 1.2rem;
}

h3 {
    font-family: "Raleway", sans-serif !important;
    color: #002054;
    font-size: 1.2rem;
    font-weight: 800;
}

.align-v {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}